Repository open-edge-platform/cluster-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik, @adibrastegarnia

Create script to generate trivy reports
  helm/cdi/trivy.yaml
  helm/kubevirt-helper/trivy.yaml
  helm/kubevirt/trivy.yaml
  helm/skupper/trivy.yaml
  trivy_scans.sh
Owners: @SeanCondon, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @adibrastegarnia, @jdanieck, @adorney99, @hyunsun, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

license
  trivy_scans.sh
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Review of App Orch README files
  README.md
  helm/akri/README.md
  helm/edgedns/README.md
  helm/gatekeeper-constraints/README.md
  helm/kubevirt/README.md
  helm/metallb-config/README.md
  helm/network-policies/README.md
  helm/observability-config/README.md
  helm/openebs-config/README.md
  helm/sriov-network-operator/README.md
  helm/sriov-network-operator/app-README.md
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik, @adibrastegarnia

Bump versions
  VERSION
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

extension's
  helm/observability-config/README.md
  helm/openebs-config/README.md
Owners: @jdanieck, @adorney99, @hyunsun, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

trusted compute RC2 integration
  deployment-package/trusted-compute/application.yaml
  deployment-package/trusted-compute/deployment-package.yaml
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

bumping up version for TC changes
  VERSION
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

trusted compute RC2 integration (#19)
  VERSION
  deployment-package/trusted-compute/application.yaml
  deployment-package/trusted-compute/deployment-package.yaml
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

TC DP update to upgrade workload application
  deployment-package/trusted-compute/application.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Bump of TC DP
  deployment-package/trusted-compute/deployment-package.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Updated TC DP version
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Bump up of VERSION
  VERSION
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Update trsuted-workload application version
  deployment-package/trusted-compute/application.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Update in DP trusted workload app version
  deployment-package/trusted-compute/deployment-package.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

TC DP update to upgrade workload application (#20)
  VERSION
  deployment-package/trusted-compute/application.yaml
  deployment-package/trusted-compute/deployment-package.yaml
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Adding note on the required cluster template
  deployment-package/trusted-compute/deployment-package.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Adding note on the required cluster template (#21)
  deployment-package/trusted-compute/deployment-package.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Bump Go version to `1.24.2`
  VERSION
  deployment-package/loadbalancer/application.yaml
  deployment-package/loadbalancer/deployment-package.yaml
  deployment-package/virtualization/application.yaml
  deployment-package/virtualization/deployment-package.yaml
  helm/edgedns/Chart.yaml
  helm/edgedns/values.yaml
  helm/kubevirt-helper/Chart.yaml
  manifest/manifest.yaml
  pkg/edgedns-coredns/Dockerfile
  pkg/edgedns-coredns/VERSION
  pkg/edgedns-coredns/go.mod
  pkg/kubevirt-helper/Dockerfile
  pkg/kubevirt-helper/VERSION
  pkg/kubevirt-helper/go.mod
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik, @adibrastegarnia

Bump Go version to `1.24.2` (#22)
  VERSION
  deployment-package/loadbalancer/application.yaml
  deployment-package/loadbalancer/deployment-package.yaml
  deployment-package/virtualization/application.yaml
  deployment-package/virtualization/deployment-package.yaml
  helm/edgedns/Chart.yaml
  helm/edgedns/values.yaml
  helm/kubevirt-helper/Chart.yaml
  manifest/manifest.yaml
  pkg/edgedns-coredns/Dockerfile
  pkg/edgedns-coredns/VERSION
  pkg/edgedns-coredns/go.mod
  pkg/kubevirt-helper/Dockerfile
  pkg/kubevirt-helper/VERSION
  pkg/kubevirt-helper/go.mod
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik, @adibrastegarnia

ITEP-26378 remove unused bitnami registry
  deployment-package/base-extensions/deployment-package.yaml
  deployment-package/common/registry-bitnami.yaml
  deployment-package/intel-gpu-debug/deployment-package.yaml
  deployment-package/intel-gpu/deployment-package.yaml
  deployment-package/kubernetes-dashboard/deployment-package.yaml
  deployment-package/kubernetes-dashboard/registry-kubernetes.yaml
  deployment-package/skupper/deployment-package.yaml
  deployment-package/sriov/deployment-package.yaml
  deployment-package/trusted-compute/deployment-package.yaml
  deployment-package/usb/deployment-package.yaml
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @hyunsun, @jokuniew, @eoghanlawless, @togashidm, @pbartosik, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @adibrastegarnia, @SeanCondon

bump version
  VERSION
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

ITEP-26378 remove unused bitnami registry (#23)
  VERSION
  deployment-package/base-extensions/deployment-package.yaml
  deployment-package/common/registry-bitnami.yaml
  deployment-package/intel-gpu-debug/deployment-package.yaml
  deployment-package/intel-gpu/deployment-package.yaml
  deployment-package/kubernetes-dashboard/deployment-package.yaml
  deployment-package/kubernetes-dashboard/registry-kubernetes.yaml
  deployment-package/skupper/deployment-package.yaml
  deployment-package/sriov/deployment-package.yaml
  deployment-package/trusted-compute/deployment-package.yaml
  deployment-package/usb/deployment-package.yaml
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik, @adibrastegarnia

bump manifest to 1.0.30
  VERSION
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

bump manifest to 1.0.30 again
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

bump manifest to 1.0.31 (#24)
  VERSION
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Add `fs` and `image` scans
  trivy_scans.sh
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Implement a manifest version check tool and add it to CI
  Makefile
  VERSION
  manifest/manifest.yaml
  pkg/artifact/artifact.go
  pkg/manifest-version-check/go.mod
  pkg/manifest-version-check/go.sum
  pkg/manifest-version-check/manifest-version-check.go
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Update version to 1.0.32 in files
  VERSION
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Fix typos in README files
  README.md
  helm/observability-config/README.md
  helm/openebs-config/README.md
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Fix possessive apostrophes in README files
  helm/observability-config/README.md
  helm/openebs-config/README.md
Owners: @jdanieck, @adorney99, @hyunsun, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Review of App Orch README files (#18)
  README.md
  VERSION
  helm/akri/README.md
  helm/edgedns/README.md
  helm/gatekeeper-constraints/README.md
  helm/kubevirt/README.md
  helm/metallb-config/README.md
  helm/network-policies/README.md
  helm/observability-config/README.md
  helm/openebs-config/README.md
  helm/sriov-network-operator/README.md
  helm/sriov-network-operator/app-README.md
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik, @adibrastegarnia

Handle dev versions
  pkg/manifest-version-check/manifest-version-check.go
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Bump
  VERSION
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Implement a manifest version check tool and add it to CI (#25)
  Makefile
  VERSION
  manifest/manifest.yaml
  pkg/artifact/artifact.go
  pkg/manifest-version-check/go.mod
  pkg/manifest-version-check/go.sum
  pkg/manifest-version-check/manifest-version-check.go
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

trusted-compute rc3 integration
  VERSION
  deployment-package/trusted-compute/application.yaml
  deployment-package/trusted-compute/deployment-package.yaml
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Update contributing guide
  CONTRIBUTING.md
  README.md
  VERSION
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

add License link
  README.md
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Update contributing guide (#27)
  CONTRIBUTING.md
  README.md
  VERSION
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

trusted-compute rc3 integration (#26)
  VERSION
  deployment-package/trusted-compute/application.yaml
  deployment-package/trusted-compute/deployment-package.yaml
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik

Update CDI to `v1.62.0`
  VERSION
  deployment-package/virtualization/application.yaml
  deployment-package/virtualization/deployment-package.yaml
  helm/cdi/Chart.yaml
  helm/cdi/crds/01-crds.yaml
  helm/cdi/templates/01-cdi-operator.yaml
  helm/cdi/values.yaml
  manifest/manifest.yaml
Owners: @jdanieck, @adorney99, @SeanCondon, @hyunsun, @scottmbaker, @ray-milkey, @pudelkoM, @badhrinathpa, @jokuniew, @eoghanlawless, @togashidm, @pbartosik, @adibrastegarnia

.github/CODEOWNERS:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, these owners will be requested for review when
# someone opens a pull request.

# Everything requires team review by default
* @jdanieck @adorney99 @SeanCondon @hyunsun @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @jokuniew @eoghanlawless @togashidm @pbartosik

# Except the following folders for base extensions
/helm/gatekeeper-constraints @jdanieck @adorney99 @hyunsun @jokuniew @eoghanlawless @togashidm @pbartosik
/helm/network-policies @jdanieck @adorney99 @hyunsun @jokuniew @eoghanlawless @togashidm @pbartosik
/helm/observability-config @jdanieck @adorney99 @hyunsun @jokuniew @eoghanlawless @togashidm @pbartosik
/helm/openebs-config @jdanieck @adorney99 @hyunsun @jokuniew @eoghanlawless @togashidm @pbartosik

/deployment-package/base-extensions @jdanieck @adorney99 @hyunsun @jokuniew @eoghanlawless @togashidm @pbartosik @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia

# Except the following folders for application extensions
/helm/akri @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/helm/cdi @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/helm/edgedns @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/helm/intel-gpu-debug @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/helm/kubevirt @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/helm/kubevirt-helper @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/helm/metallb-base @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/helm/metallb-config @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/helm/skupper @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/helm/skupper-sample-app @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/helm/sriov-network-operator @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia

/deployment-package/intel-gpu @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/deployment-package/intel-gpu-debug @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/deployment-package/loadbalancer @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/deployment-package/kubernetes-dashboard @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/deployment-package/skupper @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/deployment-package/skupper-sample-app @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/deployment-package/sriov @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/deployment-package/usb @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/deployment-package/virtualization @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia

/pkg/edgedns-coredns @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/pkg/intel-gpu-debug @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
/pkg/kubevirt-helper @SeanCondon @scottmbaker @ray-milkey @pudelkoM @badhrinathpa @adibrastegarnia
